.card_info_item {
    display: flex;
    width: fit-content;
    margin-bottom: 10px;
}
.card_info_name {
    color: #fff;
    white-space: nowrap;
}

.card_info_value {
    padding-left: 8px;
    color:  #2075be;
}
.card_info_value,.card_info_name {
    font-size: 18px;
    line-height: 20px;
}
.card_info_list {
    margin-bottom: 10px;
}
.card_info_list li a{
    color:  #2075be;
}
@media screen and (max-width: 768px) {
    .card_info_block, .card_info_list  {
        padding-left: 20px;
    }
    .card_info_value,.card_info_name {
        font-size: 16px;
        line-height: 18px;
    }
}
@media screen and (max-width: 375px) {
    .card_info_block, .card_info_list  {
        padding-left: 10px;
    }
    .card_info_value,.card_info_name {
        font-size: 14px;
        line-height: 16px;
    }
}